PORT=5000
DATABASE_URL=postgresql://user:password@localhost:5432/database
FRONTEND_URL=http://localhost:5173
SAFE_PAY_SECRET_KEY=your_safepay_server_secret_key
SAFEPAY_MERCHANT_API_KEY=your_safepay_merchant_api_key
SAFEPAY_API_URL=https://sandbox.api.getsafepay.com
